.title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}

.description h3 {
    margin: 0.5em 0 0.5em 0;    
}

.description h4 {
    margin: 0.5em 0 0.5em 0;
}

#profile-img {
    margin: 0 auto;
    height: 200px;
    width: 200px
} 

.social-icons {
    margin-top: 1em;
    text-align: center;
    display: inline-flex;
}

#linkedin {
    padding-left:10px;
}

.social-icons img {
    height: 44px;
	width: 44px;
}