<template name="aboutTemplate">
	<div class="slide" id="slide2" data-slide="2">
		<div id="about">
		<div id="about_head_text">
		    <h1> A tl;dr summary of me </h1>
		    <p> I'm a developer with experience in mobile development, web development, and application development. I've taken courses in computer science ranging from operating systems development to networking to compilers to visualizations. My hobbies include playing soccer, watching movies, and working on side-projects. I currently work as a iOS developer at <a href="http://www.isobar.com/">Isobar</a>.</p>
		</div>
		  <div id="education_container">
		    <h1> Education </h1>
		    <p> <b>University of Illinois at Chicago - Chicago, Illinois</b> <br>
		      Bachelor's of Science in Engineering - Graduated May 2013 <br>
		      Major - Computer Science
		    <p>
		  </div>
		  <div id="skills_container">
		    <h1> My Skills </h1>
		    <dl>
		    	<dl class="indent">
			      <dt> <h3>Languages:</h3> </dt>
			      <dt> Advanced: </dt>
			        <dd>Objective-C, C, C++, Java</dd>
			      <dt>Intermediate: </dt>
			        <dd>JavaScript, SmallTalk, HTML</dd>
			      <dt>Beginner: </dt>
			        <dd> Ruby, Python, Scala C#, CSS</dd>
			     </dl>
		      <dt>APIs/Frameworks:</dt>
		      <dd> iOS, Ruby on Rails </dd>
		      <dt>Operating Systems</dt>
		      <dd> OSX, Windows, UNIX, Linux(Ubuntu and Raspbian) </dd>
		      <dt>Tools:</dt>
		      <dd> XCode, Terminal (Bash, Zsh), Sublime Text, Red Gate ANTS </dd>
		      <dt>Version Control:</dt>
		      <dd> Git, Subversion, Team Foundation Server </dd>
		    </dl>
		  </div>
		  <div id="experience_container">
		    <h1> What I've done/am currently doing</h1>
		    <div class="exp_description">
		      <h3> Isobar (Formerly Roundarchisobar) </h3>
		      <div>
		          <h3> Mobile Developer (iOS) </h3> (August 2013 to Current)
		          <ul>
		            <li> Fixing bugs and adding functionality to existing client's iPad and iPhone applications. </li>
		            <li> Added new functionality and fixed bugs on iPhone and iPad applications for a large financial company. </li>
		            <li> Developed an iPhone conference application for use in a client's technical conference. </li>
		          </ul>
		      </div>
		    </div>
		    <div class="exp_description">
		      <h3> Isobar (Formerly Roundarchisobar) </h3>
		      <div>
		      	<h3> Technical (iOS) Intern </h3> (June 2013 to August 2013)
		        <ul>
		          <li> Fixed bugs and added functionality to a existing client's iPad and iPhone applications. </li>
		          <li> Worked on item checkout system for internal use utilizing a Ruby on Rails backend with an iPhone application. </li>
		          <li> Architected iPhone application for use in a client's technical conference. </li>
		          <li> Developed a proof of concept iPad application to improve a user’s multiple screen experience while watching a television show. </li>
		        </ul>
		      </div>
		    </div>

		    <div class="exp_description">
		      <h3>Electronic Visualization Laboratory (University of Illinois at Chicago) </h3>
		      <div>
		      	<h3> Research Experience Undergraduate </h3> (Jan 2012 to May 2013)
		        <ul>
		          <li> Assisted in the development of user interfaces and visualizations for real-time interactive applications. </li>
		          <li> Designed and developed a web browser and calendar for SAGENext (Scalable Adaptive Graphics Environment) </li>
		          <li> Worked on a SAGENext audio and video chat client for Google Talk.</li>
		          <li> Used C++ and Qt framework to develop applications.</li>
		        </ul>
		      </div>
		    </div>

		    <div class="exp_description">
		      <h3>Gannet (Formerly ShopLocal)</h3>
		      <div>
		      	<h3> Software Development Intern </h3>(June 2012 to September 2012)
		        <ul>
		          <li> Performed search engine optimizations on <a href="http://www.shoplocal.com">ShopLocal</a> website. </li>
		          <li> Added new functionality to client circular websites using ShopLocal SmartCircular platform in Flex, Html, Javascript, and CSS. </li>
		          <li> Added JavaScript code analysis tool using SVN's API and <a href="https://github.com/jshint/jshint">JSHint</a> to internal automated build servers. </li>
		          <li> Fixed miscellaneous defects on client circular websites in Flex, Html, Javascript, and CSS. </li>
		        </ul>
		      </div>
		    </div>

		    <div class="exp_description">
		      <h3>GE Intelligent Platforms (Formerly SmartSignal) </h3>
		      <div>
		      	<h3> Software Development Intern </h3> (May 2011 to August 2011)
		        <ul>
		          <li> Developed intuitive user controls using .NET technologies that can be fully internationalized for a monitoring application used by power industry personnel to detect, diagnose, and prioritize equipment failures. </li>
		          <li> Recognized by team for creating several customer requested product enhancements. </li>
		          <li> Improved application performance by performing memory and performance tuning, resulting in the repair of several memory leaks.</li>
		          <li> Diagnosed and repaired product defects.</li>
		          <li> Participated in meetings with customer support team regarding application usability and performance. </li>
		        </ul>
		      </div>
		    </div>
		</div>
	</div>
</div>
</template>
