<template name="projectsTemplate">
	<div class="slide" id="slide3" data-slide="3">
		<div id="projects">
			<h1> Side-Projects </h1>
			<div class="project_listing">
			    <ul>
			      {{#each projects}}
			      	{{>project}}
			      {{/each}}
			    </ul>
  			</div>
		</div>
	</div>
</template>

<template name="project">
	<li>
		<h3>
			<a href="{{projectURL}}">{{projectName}}</a>
		</h3>
		<ul class="horizontal_image_listing">
			{{#each projectImages}}
				<li><a href="{{this}}"><img src="{{this}}"/></a></li>
			{{/each}}
		</ul>
		<p>
			{{projectDescription}}
		</p>
	</li>
</template>
