<template name="projectsTemplate">
	<div class="slide" id="slide3" data-slide="3">
		<div id="projects">
			<h1> Side-Projects </h1>
			<div>
			    <ul class="unstyled">
			      {{#each projects}}
			      	{{>project}}
			      {{/each}}
			      
			      <!-- <li>
			      	<h3><%= link_to "Hoarders", "https://github.com/ssathy2/hoarders" %></h3> This project was created out of frustration that I (and possibly many other people) have: how the heck do I manage data in different cloud services? This project attempts to solve this issue using some python and in the future, an OSX app. Still in development
			      </li>
			      <li>
			      	<h3><%= link_to "H4ck3rN3ws", "https://github.com/ssathy2/H4ck3rN3ws" %></h3> A toy iPhone/iPad app for the website <%= link_to "Hacker News", "https://ycombinator.com/news" %>. App presents content on website in an easy to read manner for iOS devices. Still in development.
			      </li> -->
			    </ul>
  			</div>
		</div>
	</div>
</template>

<template name="project">
	<li>
		<h3>
			<a href="{{projectURL}}">{{projectName}}</a>
		</h3>
		<p>
			{{projectDescription}}
		</p>
	</li>
</template>