<template name="aboutTemplate">
    <div class="title">
	    <h1> About me </h1>
		</div>
		<div class="description">
			<p> I'm a developer with experience in mobile development, web development, and low level networking development . Some of my hobbies include playing soccer, riding my bicycle, and working on side projects. I currently work as a Senior iOS developer at Footlocker. The latest copy of my resume can be found at <a href="https://github.com/ssathy2/resume/raw/master/resume.pdf">https://github.com/ssathy2/resume/raw/master/resume.pdf</a>.</p>
		</div>
		<div id="education_container">
			<div class="title">
				<h2> Education </h2>
			</div>
	       <div class="description">
                <p> <b>University of Illinois at Chicago - Chicago, Illinois</b> <br>
                    Bachelor's of Science in Engineering - Graduated May 2013 <br>
                    Major - Computer Science
                </p>       
           </div>
	  </div>
	  <div id="skills_container">
        <div class="title">
            <h2> Skills </h2>
        </div>
        <div class="description">
            <h3><b>Languages:</b></h3>
            <p>Objective-C, Swift, C, JavaScript, HTML/CSS</p>
            <h3><b>APIs/Frameworks:</b></h3>
            <p> iOS, MeteorJS, NodeJS </p>
        </div>
    </div>    
	  <div id="experience_container">
      <div class="title">
        <h2> Experience </h2>        
      </div>
			<div class="description">
	      <h3><b>Footlocker</b></h3>
	      <div>
	          <h4>Senior Mobile Developer (iOS) </h4> (September 2016 to current)
	      </div>
	    </div>
      <div class="description">
	      <h3><b>Isobar (Formerly Roundarchisobar)</b></h3>
	      <div>
	          <h4>Senior Mobile Developer (iOS) </h4> (July 2015 to September 2016)
	          <ul>
	            <li> Built SyFy Now, Bravo Now, and USA NOW iOS apps by implementing an iOS cascading sytle system which worked by applying cascading styles to the existing NBC app store app.</li>
	            <li> Developed WellbeingTogether iOS app (WBTogether on the app store) from the ground up using an MVVM architecture and PromiseKit. </li>
              <li> Leading a team of developers in completing applications.</li>
	          </ul>
	      </div>
	    </div>
	    <div class="description">
	      <h3><b>Isobar (Formerly Roundarchisobar)</b></h3>
	      <div>
	          <h4> Mobile Developer (iOS) </h4> (August 2013 to July 2015)
	          <ul>
	            <li> Developed WellbeingGO iOS app from the ground up using an MVVM architecture. Built app in 5 months with one other developer. </li>
	            <li> Implented Facebook, Google, and Twitter login for McDonalds iOS app. Implemented Arch Card (McDonalds rewards program) 
        management to enable users to add, use, or modify arch cards that they might posess. </li>
	            <li> Implented dashboard view and pin login for Scottrade iOS app and fixed bugs on core iOS application. </li>
	          </ul>
	      </div>
	    </div>
	    <div class="description">
	      <h3><b>Isobar (Formerly Roundarchisobar)</b></h3>
	      <div>
	      	<h4> Technical (iOS) Intern </h4> (June 2013 to August 2013)
	        <ul>
	          <li> Worked on item checkout system for internal use utilizing a Ruby on Rails backend with an iPhone application. </li>
	          <li> Architected iPhone application for use in a client's technical conference. </li>
	          <li> Developed a proof of concept iPad application to improve a user’s multiple screen experience while watching a television show. </li>
	        </ul>
	      </div>
	    </div>

	    <div class="description">
	      <h3><b>Electronic Visualization Laboratory (University of Illinois at Chicago)</b></h3>
	      <div>
	      	<h4> Research Experience Undergraduate </h4> (Jan 2012 to May 2013)
	        <ul>
	          <li> Assisted in the development of user interfaces and visualizations for real-time interactive applications. </li>
	          <li> Designed and developed a web browser and calendar for SAGENext (Scalable Adaptive Graphics Environment) </li>
	          <li> Worked on a SAGENext audio and video chat client for Google Talk.</li>
	          <li> Used C++ and Qt framework to develop applications.</li>
	        </ul>
	      </div>
	    </div>

	    <div class="description">
	      <h3><b>Gannet (Formerly ShopLocal)</b></h3>
	      <div>
	      	<h4> Software Development Intern </h4>(June 2012 to September 2012)
	        <ul>
	          <li> Performed search engine optimizations on <a href="http://www.shoplocal.com">ShopLocal</a> website. </li>
	          <li> Added new functionality to client circular websites using ShopLocal SmartCircular platform in Flex, Html, Javascript, and CSS. </li>
	          <li> Added JavaScript code analysis tool using SVN's API and <a href="https://github.com/jshint/jshint">JSHint</a> to internal automated build servers. </li>
	          <li> Fixed miscellaneous defects on client circular websites in Flex, Html, Javascript, and CSS. </li>
	        </ul>
	      </div>
	    </div>

	    <div class="description">
	      <h3><b>GE Intelligent Platforms (Formerly SmartSignal)</b></h3>
	      <div>
	      	<h4> Software Development Intern </h4> (May 2011 to August 2011)
	        <ul>
	          <li> Developed intuitive user controls using .NET technologies that can be fully internationalized for a monitoring application used by power industry personnel to detect, diagnose, and prioritize equipment failures. </li>
	          <li> Recognized by team for creating several customer requested product enhancements. </li>
	          <li> Improved application performance by performing memory and performance tuning, resulting in the repair of several memory leaks.</li>
	          <li> Diagnosed and repaired product defects.</li>
	          <li> Participated in meetings with customer support team regarding application usability and performance. </li>
	        </ul>
	      </div>
	    </div>
	  </div>
</template>
