<template name="contactTemplate">
	<div class="slide" id="slide4" data-slide="4">
		<div id="contact">
			<div class="contact-container">
				<h1> Contact Me </h1>
				  <div class="contact-header">
				    <h3> Send me an email: ssathy2 AT gmail DOT com </h3>
				  </div>
				  <div class="social-icons">
				    <div id="linkedin">
				      <h3> Access my linkedIn profile by clicking on the linkedIn icon </h3>
				      <a href="http://www.linkedin.com/in/siddsathyam"><img src="images/linkedin-icon-vector-200x200.png"/></a>
				    </div>
				    <div id="github">
				      <h3> Checkout my Github profile by clicking on the Github icon </h3>
				      <a href="https://www.github.com/ssathy2"><img src="images/github_logo.png"/></a>
				    </div>
				</div>
			</div>
		</div>
	</div>
</template>
