<template name="projectsTemplate">
	<div id="projects">
        <div class="title">
            <h1> Side-Projects </h1>    
        </div>
		<div class="project_listing">
		    <ul style="list-style: none;">
		      {{#each projects}}
		      	{{>project}}
		      {{/each}}
		    </ul>
		</div>
	</div>
</template>

<template name="project">
	<li>
        <div class="title">
            <h3> <a href="{{projectURL}}">{{projectName}}</a> </h3>    
        </div>
        <div class="description">
           <div>
               {{#each projectImages}}
                <div class="pure-u-1-5  pure-u-md-1-4 pure-u-sm-1-2">
                    <a href="{{this}}"><img class="pure-img" src="{{this}}"/></a>
                </div>
            	{{/each}}
                <p>
            	   {{projectDescription}}
                </p>    
           </div>
        </div>
	</li>
</template>
