<head>
	<title>Sidd Sathyam's Website</title>
</head>
<body>
	<div class="spacer" id="container">
		{{> navTemplate }}
		
		<div id="content">
			<div class="nine_sixty">	
				{{> homeTemplate }}
				<!-- home -->
				
				{{> aboutTemplate }}
				<!-- about -->

				{{> projectsTemplate }}
				<!-- projects -->

				{{> contactTemplate }}
				<!-- contact -->
            </div> 
            <!-- nine_sixty -->
            <div class="footer">
            	<!-- <div class="links">
            		<ul>
						<li><a href="http://github.com/ssathy2">My Github</a></li>
						<li><a href="http://linkedin.com/in/siddsathyam">My LinkedIn</a></li>
					</ul>
            	</div> -->
            	<!-- links -->
            </div> 
            <!-- footer -->
        <!-- content -->
		</div>
		<!-- container -->
	</div>
</body>