<template name="sidebarTemplate">
    <div class="pure-menu">
        <img class="pure-img" id="profile-img" src="/images/profile_image.png"/>
        <div class="header">
            <h1 class="brand-title">Sidd Sathyam</h1>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/blog">Blog</a>
                    </li>
                </ul>
            </nav>
            <div class="social-icons">
                <div id="github">
                    <a href="https://www.github.com/ssathy2"><img src="/images/github_logo64x64.png"/></a>
                </div>
                <div id="linkedin">
                    <a href="http://www.linkedin.com/in/siddsathyam"><img src="/images/linkedin_logo128x128.png"/></a>
                </div> 
            </div>
        </div>
    </div>            
</template>
